.A{
    position: relative;
    top: 150px;
    left: 520px;
}

.B{
    position: relative;
    top: 150px;
    left: 670px;

}

.C  {
    position: relative;
    top: 150px;
    left: 820px;
}

.bogao{
    
}